.hero-section{
    width: 100%;
    padding-top: 50px;
    height: 100vh;
    background: rgb(176,171,171);
    background: linear-gradient(90deg, rgba(176,171,171,1) 0%, rgba(200,217,217,1) 32%, rgba(121,116,116,1) 100%);
    overflow-x: hidden;
    overflow-y: hidden;

}
.btn-primary{
    background-color: rgb(79, 74, 74);
}
.d-block{
    border-radius: 45px;
    box-shadow: 28px 27px 51px 24px rgba(0,0,0,0.62);
    -webkit-box-shadow: 28px 27px 51px 24px rgba(0,0,0,0.62);
    -moz-box-shadow: 28px 27px 51px 24px rgba(0,0,0,0.62);
}

@media screen and (max-width: 1024px) {
   .hero-section{
    height: auto;
    }

}