.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    height: 100vh;
    text-transform: uppercase;
    background: rgb(176,171,171);
    background: linear-gradient(90deg, rgba(176,171,171,1) 0%, rgba(200,217,217,1) 32%, rgba(121,116,116,1) 100%);
}