.hero-section{
    width: 100%;
    padding-top: 200px;
    height: 100vh;
    background: rgb(176,171,171);
    background: linear-gradient(90deg, rgba(176,171,171,1) 0%, rgba(200,217,217,1) 32%, rgba(121,116,116,1) 100%);
    overflow-x: hidden;
    overflow-y: hidden;

}
.btn-primary{
    background-color: #222;
    border: 1px solid rgb(79, 74, 74);
}

.btn-primary:hover{
    border: 1px solid rgb(79, 74, 74);
}
.d-block{
    border-radius: 45px;
   
    box-shadow: 28px 27px 51px 24px rgba(0,0,0,0.62);
    -webkit-box-shadow: 28px 27px 51px 24px rgba(0,0,0,0.62);
    -moz-box-shadow: 28px 27px 51px 24px rgba(0,0,0,0.62);
}

@media screen and (max-width: 1024px) {
   .hero-section{
    padding-top: 100px;
    height:100vh;

    
    }
    p.lead{
        font-size: 14px;
        width: 80%;
        text-align: justify;
    }
    div.col-lg-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.col-lg-6 h1{
        font-size: 20px;
        text-align: center;
    }
}