*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
.first-container{
    height: 100vh;
    background-color: pink;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.first-container button{
    position: absolute;
    margin: 10px ;
    
    bottom: 0;
    border: none;
    background: transparent;
    transition: transform 0.3s ease;
}
.first-container button:hover {
    transform: scale(1.2);
  }
  .second-container button:hover {
    transform: scale(1.2);
  }
  .third-container button:hover {
    transform: scale(1.2);
  }
.first-page-icon{
    width: 30px;
    height: 50px;
}
.second-container{
    height: 100vh;
    background-color: green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.second-container button{
    position: absolute;
    bottom: 0;
    margin: 10px ;
    border: none;
    background: transparent;
    transition: transform 0.3s ease;
}
.third-container{
    height: 100vh;
    background-color: yellow;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.third-container button{
    position: absolute;
    bottom: 0;
    margin: 10px;
    border: none;
    background: transparent;
    transition: transform 0.3s ease;
}
.hidden1{
    display: none;
    transform: translateY(100%);
}
.hidden2{
    display: none;
    transform: translateY(100%);
}
.transition {
    transition: transform 0.5s ease-in-out;
}